.form_registro_empresa{
    background-color: aqua;
    width: 100%;
}
.formulario_123{
    margin-top: 1%;
    width: 80%;
    margin-left: 10%;
}
.avancar2{
    margin-top: 0%;
    width: 10%;
  background-color: #1677ff;
  color: #FFFFFF;
     margin-left: 90%;
 }
 .avanca1{
    margin-top: 0%;
    width: 10%;
  background-color: #e6f4ff;
  color: #1677ff;
  
 }
 .avancarR{
    display: flex;
    flex-direction: row;
    margin-top: 5%;
 
    justify-content: space-between;
    width: 100%;
    
 }
 .passos_l{
    margin-top: 2%;
    width: 50%;
    margin-left: 25%;
 }
 .dfa{
    margin-bottom: 17%;
 }