@font-face {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    src: local('Inter'), local('Inter-Regular'),
         url('./fonts/Inter-3.19/Inter web/Inter-Regular.woff2') format('woff2'),
         url('./fonts/Inter-3.19/Inter web/Inter-Regular.woff') format('woff'); 
  }
